<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/lemur.png" alt="I'm lemur!"><br>
    Always a pleasure validating feeds!
  </p>
</div>



<form role="form" class="input-feed">

  <accordion close-others="oneAtATime">
    <accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      <accordion-heading>
        Upload from URL <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </accordion-heading>

      <div class="form-group">
        <label for="input-feed-url">Enter product feed URL</label>
        <input type="text" class="form-control" id="input-feed-url" ng-model="feedUrl" placeholder="Feed URL">
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="urlSubmit()">Go lemur, go!</button>
<!-- 
      <pre>
        Error codes:
        1 - OK
        2 - Document not valid
        3 - Document not well-formed
        4 - Document not valid &amp; well-formed
        5 - URL invalid
        6 - Misc.
      </pre> -->

      <ul>
        <li ng-repeat="product in products">
          {{product.id}}
          <ul>
            <li ng-repeat="childProduct in product.children">
            {{childProduct.id}}
            </li>
          </ul>
        </li>
      </ul>

    </accordion-group>

    <accordion-group is-open="status.open" is-disabled="status.isFirstDisabled">
      <accordion-heading>
        Upload from computer <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </accordion-heading>
      
      <div class="form-group">
        <label for="input-feed-file">File input</label>

        <!-- <input type="text" ng-model="myModelObj"> -->
        <input type="file" ng-file-select="onFileSelect($files)" accept="application/xml" id="input-feed-file">

        <div ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function" ng-show="dropSupported">or...<br> drop feed here!</div>

        <div ng-file-drop-available="dropSupported=true" 
        ng-show="!dropSupported">HTML5 Drop File is not supported!</div>

      <button ng-click="upload.abort()">Cancel Upload</button>


      </div>
    </accordion-group>
  </accordion>

</form>